main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main form {
    padding: 3ch 2ch;
}

main > div > form > div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}